<div fxLayout="column">
  <mat-toolbar
    class="default-toolbar mat-elevation-z3"
    color="primary"
    fxFlex="60px"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <a
      class="default-logo"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <span class="accentColor"> Anton M. App sample</span>
    </a>
    <app-themes-menu></app-themes-menu>
  </mat-toolbar>

  <div class="page-container" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center">
      <div class="page-content">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
