// dark theme
.dark-theme .mat-app-background,
.dark-theme.mat-app-background {
  color: mat-color($mat-grey, 200) !important;
}
.dark-theme {
  color: mat-color($mat-grey, 100);
  $dark-primary: mat-palette($mat-grey, A700);
  $dark-secondary: mat-palette($mat-grey, 600);
  $dark-accent: mat-palette($mat-light-green, 500);
  $dark-warn: mat-palette($mat-red);
  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @function dark-foreground($color) {
    @return (
      base: $color,
      divider: $black-12-opacity,
      dividers: $black-12-opacity,
      disabled: rgba($color, 0.38),
      disabled-button: rgba($color, 0.7),
      disabled-text: rgba($color, 0.38),
      hint-text: rgba($color, 0.38),
      secondary-text: rgba($color, 0.54),
      icon: rgba($color, 0.54),
      icons: rgba($color, 0.54),
      text: rgba($color, 1.3),
      slider-off: rgba($color, 0.26),
      slider-off-active: rgba($color, 0.38)
    );
  }

  // You can put any color here. I've chosen mat-color($my-app-primary, 700)
  $my-foreground: dark-foreground(mat-color($dark-primary, 500));

  //--------------------------

  $my-app-theme-custom: map-merge(
    $dark-theme,
    (
      foreground: $my-foreground,
    )
  );

  // ---------------------------

  // @include angular-material-theme($dark-);
  @include angular-material-theme($my-app-theme-custom);

  .customCard,
  .fanfics {
    box-shadow: -1px 1px 2px 1px #1d1d1d !important;
  }

  $colorPrimary: mat-color($dark-primary);
  $colorSecondary: mat-color($dark-secondary);
  $colorAccent: mat-color($dark-accent);
  $colorWarn: mat-color($dark-warn);
  $colorAccentLight: mat-color($dark-accent, 200);

  .primaryColorBG {
    background-color: $colorPrimary;
  }
  .secondaryColorBG {
    background-color: $colorSecondary;
  }
  .accentColorBG {
    background-color: $colorAccent;
  }
  .accentLightColorBG {
    background-color: $colorAccentLight;
  }
  .warnColorBG {
    background-color: $colorWarn;
  }

  .primaryColor {
    color: $colorPrimary;
  }
  .secondaryColor {
    color: $colorSecondary;
  }
  .accentColor {
    color: $colorAccent;
  }
  .warnColor {
    color: $colorWarn;
  }

  .primaryColorBorder {
    border-color: $colorPrimary !important;
  }
  .accentColorBorder {
    border-color: $colorSecondary !important;
  }
  .warnColorBorder {
    border-color: $colorWarn !important;
  }
}
