<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field class="chip-list" appearance="fill">
    <mat-label>Search tags</mat-label>
    <mat-chip-list
      #chipList
      aria-label="Gif keywords"
      multiple
      [formControl]="formControl"
    >
      <mat-chip
        *ngFor="let keyword of keywords"
        [selected]="keyword"
        [value]="keyword"
        (removed)="removeKeyword(keyword)"
      >
        {{ keyword }}
      </mat-chip>
      <input
        matInput
        type="text"
        placeholder="New keyword..."
        [matChipInputFor]="chipList"
        (matChipInputTokenEnd)="addKeywordFromInput($event)"
      />
    </mat-chip-list>
  </mat-form-field>

  <button
    type="button"
    *ngIf="keywords.size > 0"
    mat-icon-button
    aria-label="Search"
    (click)="searchKeywords(keywords)"
  >
    <mat-icon>search</mat-icon>
  </button>
</div>
